body {
  font-family: "Arial", sans-serif;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-login > img {
  height: 150px;
  width: auto;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  background-color: #cdcccc;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 300px;
}
p {
  margin: 10px;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
.forgotten-password {
  display: flex;
  justify-content: end;
}
.forgotten-password > a {
  color: #666;
  font-size: 12px;
  padding-right: 12px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
a.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: white;
  background-color: #0056b3;
  text-decoration: none;

  border: 1px solid #287092;
  border-radius: 0.5rem;

  height: 2rem;
  width: 11rem;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
a.login-button:hover {
  background-color: #287092;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.checkbox-container > input {
  width: 5%;
}
.checkbox-container > label {
  font-size: 12px;
}
